.results td {
    border: thin dotted black;
}

.mainHeader td,th {
    border-color: lightgrey
}

.results td.nowrap {
    white-space: nowrap;
}

.results td.legendary {
    border: medium ridge #f27900;
}

    .results td.epic {
        border: medium ridge #7a38ff;
    }

    .results td.rare {
        border: medium ridge #3391e9;
    }

    .results td.uncommon {
        border: medium ridge #84dc26;
    }

    .results #tbody #tr #td.common {
        border: medium ridge #ffffff;
    }

    .results #tbody #tr #td.Universal {
        background-color: #fff345;
    }

    .results #tbody #tr #td.FIXME {
        background-color: #ff0000;
    }

        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
            .topAlign {
                vertical-align: top;
            }

            .menuCell {
                border-style: outset;
                border-width: thick;
                padding: 5px;
            }

            .selectedMenuCell 
            {
                border-style: inset;
                border-width: thick;
                padding: 5px;
            }